h3
        {
            background-color: pink;
            color: black;
        }
        #titulo
        {
            text-decoration: antiquewhite;
            text-align: center;
            background-color: aquamarine;
        }
        .comun
        {
            background-color: lavenderblush;
        }